<form>
  <div class="form-control">
    <div>
      <label for="text">Task   </label>
      <input type="text" name="text" id="text" placeholder="Add Text" />
    </div>
    <div>
      <label for="date">Date</label>
      <input type="date" name="date" id="date" placeholder="Add Date" />
    </div>
    <div>
      <label for="reminder">Remind?</label>
      <select name="reminder">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <input type="submit" value="Add Task" id="submit">
  </div>
</form>
